 body { 
    .header-v1{
       .heading-vetical{
            .panel-heading {
                background-image:none;
            }
        }
    }
    .home3{
        .heading-vetical{
            .panel-heading {
                @include rtl-padding-left(50px);
                span{
                    display: none;
                }
            }
        }
        .pav-verticalmenu{
            display: block;
        }
        .verticalmenu{
            .navbar-nav > li{
                .dropdown-menu {
                    @include rtl-left(auto);
                    @include rtl-right(110%);
                }
                a{
                    .caret{
                        @include rotate(90deg);
                    }
                }
                &:hover{
                    > .dropdown-menu{
                        @include rtl-right(100%);
                        left: auto;
                    }
                }
            }
        }
    }
    .home6{
        .pav-verticalmenu{
            margin-bottom: 60px;
        }
    }
}    
.heading-vetical{
    .panel-heading{
        padding:20px 25px;
    }
}
.arrow{
    @include size(20px,20px);
    line-height:20px !important;
    color:#343434;
    font-size:$font-size-base + 3;
    text-align: center;
    background:$white;
    @include rounded-corners(100%);
}
.pav-verticalmenu{
    @include gradient-vertical($start-color: #2fe7be, $end-color: #7376f0, $start-percent: 0%, $end-percent: 100%);
    @include rounded-corners(5px);
    padding-bottom:30px;
    position: absolute;
    top: 100%;
    @include rtl-left(0);
    z-index: 999;
    display: block;
    .panel-title{
        color: $white;
        text-transform: uppercase;
    }
    .panel-heading{
        padding:40px 40px 20px;
    }
    .panel-body{
        background:$vertical-menu-content-bg;
        padding:30px;
    }
    .navbar-default{
        background:transparent;
        border:none;
        margin: 0;
    }
}
.verticalmenu {
    .navbar-collapse{
        margin:0;
        padding:0;
        border: none ;
    }
    .widget-heading {
        text-transform: uppercase;
        border-bottom:1px solid $border-color;
        padding-bottom:20px;
    }
    .navbar-nav {
        position:static;
        @include clearfloat;
        padding:0;
        > li {
            @include size(100%,auto);
            position: static;
            @include rtl-float-left;
            padding: 0 15px;
            &:last-child{
                border-bottom:none;
            }
            > a {
                display: block;
                color: $white;
                padding: $vertical-menu-link-padding;
                font-size: $font-size-base;
                background:transparent !important;
                position:relative;
                &:before{
                    color: #2fe7be;
                    font-size: 10px;
                    top: 10px;
                    content: "\f192";
                    font-family: 'FontAwesome';
                    display: inline-block;
                    position: absolute;
                    left: 20px;
                    right: auto;
                    line-height: 21px;
                    font-style: normal;
                    font-weight: normal;
                }
                &:hover,&:focus,&:active{
                    color: #0a2432;
                }
                .menu-title{
                    @include rtl-margin-left(35px);
                }
                .menu-icon{
                    display: block;
                }
                .fa {
                    @include rtl-margin-right(5px);
                    width: 20px;
                }

                .caret {
                    @include rtl-float-right();
                    @include rotate(-90deg);
                    margin-top: 8px;

                    .rtl & {
                        @include rotate(90deg);
                    }
                }
            }
            // Hover li

            &.topdropdow:hover {
                position: static;
            }

            &:hover {
                background:$white;
                @include transition(all 300ms ease-in-out 0s);
                a{
                    color: #89a0ac;
                    &:active,&:focus{
                        color: #89a0ac;
                    }
                }
                > .dropdown-menu {
                    top: 0px;
                    @include opacity(1);
                    visibility: visible;
                    display: block;
                    @include rtl-left(100%);
                    @include rtl-margin-left(-1px);
                }
            }
            .parent {
                position: relative;
                > .dropdown-toggle {
                    text-transform: none;
                    font-weight: normal;
                }
                &:hover {
                    > .dropdown-menu {
                        @include rtl-right(100%);
                        top: 0px;
                        @include opacity(1);
                    }
                }
                &.dropdown-submenu {
                    &:hover {
                        .dropdown-menu {
                            @include rtl-right(115%);
                            display: block;
                            top: 0;
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
    .dropdown-menu {
        @include rtl-right(auto);
        @include rtl-left(110%);
        @include opacity(0);  
        @include transition(all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s);
        top:0;
        position:absolute;
        visibility: hidden;
        z-index: 999 ;
        display: block;
        min-width: $vertical-sub-menu-width;
        padding: 25px;
        &.level1 {
            .fa {
                display: none;
            }
            margin-top: -1px;
        }
        &.level2 {
            .fa {
                display: none;
            }
        }
        &.level3 {
            .fa {
                display: none;
            }
        }
        ul {
            list-style-type: none;
            @include rtl-padding-left(0);
            > li {
                padding: 5px 0;
                > a{
                    font-family: $font-family-base;
                    color: $megamenu-sub-link-color;
                    &:hover {
                        color: #0a2432;
                    }
                }
            }
        }
        .sidebar{
            box-shadow:none;
            padding:0;
        }
    }
  
    .w-product {
        .product-block{
            text-align: center;
            .image{
                border:1px solid $border-color;
            }
            .name{
                min-height:auto;
                margin-bottom: 0;
            }
        }
        .media-body{
            display: inline-block;
            text-align: center;
        }
    }
   
}